@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

$font-stack:'Play', sans-serif;
$primary-color:  #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.container {
  display: block;
  flex-direction: column
}







.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}