@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

$font-stack:'Play', sans-serif;
$primary-color:  #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.container {
  display: block;
  flex-direction: column
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu > li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

a.active {
  background-color: #9e9e9e;
}

.divButton {
  display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    width: 10pc;
    padding: 5px;
    text-align: center;
}

.divButton:active{
  color:#9e9e9e;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}