$font-stack:    Helvetica, sans-serif;
$primary-color:  #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.flexrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: block;
  flex-direction: column
}

.incrementing-button {
  display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}